// SECTION tablet :: START

section#tablet.tablet.tablet--menuItems

		.tablet__header
			div
				a(href="#" class="" title="")
					span
					span
					span
			div
				a(href="" class="" title="")
					i.icon-font.icon-user
					span!= "3"
			div
				a(href="" class="" title="")
					i.icon-font.icon-doc
					span!= "0"
			div
				a(href="" class="" title="")
					i.icon-font.icon-bell

		.tablet__subheader
			a(href="#" class="" title="")
				i.icon-font.icon-corner
			p(sectionHeader-js)!= "Cold Appetizers"
			a(href="#" class="" title="")
				i.icon-font.icon-corner

		.tablet__content(tablet-bg-js)

			.tablet__view.tablet__view-thumb

				.tablet__block-wrapper
					a.tablet__block.tablet__block--spicy.is-choose(href="#" class="" title="")
						div
							img(src="img/img-tablet-box.jpg" alt="" title="")
						div
							span(changeColor-spicy-js)!= 'Spicy'
							p!= "Fresh florida stone crab clams <i>$18.50</i>"

					a.tablet__block.tablet__block--popular(href="#" class="" title="")
						div
							img(src="img/img-tablet-box.jpg" alt="" title="")
						div
							span(changeColor-popular-js)!= 'Popular'
							p!= "Shrimp cocktail <i>$14.40</i>"
					a.tablet__block.tablet__block--special(href="#" class="" title="")
						div
							img(src="img/img-tablet-box.jpg" alt="" title="")
						div
							span(changeColor-chefsSpecial-js)!= 'Chef’s Special'
							p!= "Tuna Tartare Tower <i>$17.00</i>"

					a.tablet__block.tablet__block--new(href="#" class="" title="")
						div
							img(src="img/img-tablet-box.jpg" alt="" title="")
						div
							span(changeColor-new-js)!= 'New!'
							p!= "King Crab Mac'n'Cheese <i>$18.20</i>"

					a.tablet__block.tablet__block--popular(href="#" class="" title="")
						div
							img(src="img/img-tablet-box.jpg" alt="" title="")
						div
							p!= "Crab Fried Rice <i>$14.00</i>"

				p.tablet__subtitle(subsection-js)!= "Soups"

				.tablet__block-wrapper
					a.tablet__block.tablet__block--spicy(href="#" class="" title="")
						div
							img(src="img/img-tablet-box.jpg" alt="" title="")
						div
							span(changeColor-spicy-js)!= 'Spicy'
							p!= "Fresh florida stone crab clams <i>$18.50</i>"

					a.tablet__block.tablet__block--popular(href="#" class="" title="")
						div
							img(src="img/img-tablet-box.jpg" alt="" title="")
						div
							span(changeColor-popular-js)!= 'Popular'
							p!= "Shrimp cocktail <i>$14.40</i>"
					a.tablet__block.tablet__block--special(href="#" class="" title="")
						div
							img(src="img/img-tablet-box.jpg" alt="" title="")
						div
							span(changeColor-chefsSpecial-js)!= 'Chef’s Special'
							p!= "Tuna Tartare Tower <i>$17.00</i>"

					a.tablet__block.tablet__block--new(href="#" class="" title="")
						div
							img(src="img/img-tablet-box.jpg" alt="" title="")
						div
							span(changeColor-new-js)!= 'New!'
							p!= "King Crab Mac'n'Cheese <i>$18.20</i>"

					a.tablet__block.tablet__block--popular(href="#" class="" title="")
						div
							img(src="img/img-tablet-box.jpg" alt="" title="")
						div
							p!= "Crab Fried Rice <i>$14.00</i>"

			.tablet__view.tablet__view-list

				.tablet__btn-wrapper
					a.tablet__btn.tablet__btn--spicy.is-choose(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Fresh florida stone crab clams <sup changeColor-spicy-js>Spicy</sup>"
						div
							span!= "<span currency-sign-js>$</span>18.50"
					a.tablet__btn.tablet__btn--popular(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Shrimp cocktail <sup changeColor-popular-js>Popular</sup>"
						div
							span!= "<span currency-sign-js>$</span>14.40"
					a.tablet__btn.tablet__btn--special(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Tuna Tartare Tower <sup changeColor-chefsSpecial-js>Chef’s Special</sup>"
						div
							span!= "<span currency-sign-js>$</span>17.00"
					a.tablet__btn.tablet__btn--new(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "King Crab Mac'n'Cheese <sup changeColor-new-js>New!</sup>"
						div
							span!= "<span currency-sign-js>$</span>18.20"
					a.tablet__btn(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Crab Fried Rice"
						div
							span!= "<span currency-sign-js>$</span>14.00"
					a.tablet__btn(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Lobster Mashed Potatoes"
						div
							span!= "<span currency-sign-js>$</span>25.00"
					a.tablet__btn(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Shrimp Cocktail"
						div
							span!= "<span currency-sign-js>$</span>14.00"
					a.tablet__btn(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Tuna Tartare Tower"
						div
							span!= "<span currency-sign-js>$</span>18.50"

				p.tablet__subtitle(subsection-js)!= "Subsection title"

				.tablet__btn-wrapper.tablet__btn-wrapper--pt
					a.tablet__btn.tablet__btn--spicy(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Fresh florida stone crab clams <sup changeColor-spicy-js>Spicy</sup>"
						div
							span!= "<span currency-sign-js>$</span>18.50"
					a.tablet__btn.tablet__btn--popular(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Shrimp cocktail <sup changeColor-popular-js>Popular</sup>"
						div
							span!= "<span currency-sign-js>$</span>14.40"
					a.tablet__btn.tablet__btn--special(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Tuna Tartare Tower <sup changeColor-chefsSpecial-js>Chef’s Special</sup>"
						div
							span!= "<span currency-sign-js>$</span>17.00"
					a.tablet__btn.tablet__btn--new(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "King Crab Mac'n'Cheese <sup changeColor-new-js>New!</sup>"
						div
							span!= "<span currency-sign-js>$</span>18.20"
					a.tablet__btn(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Crab Fried Rice"
						div
							span!= "<span currency-sign-js>$</span>14.00"
					a.tablet__btn(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Lobster Mashed Potatoes"
						div
							span!= "<span currency-sign-js>$</span>25.00"


// SECTION tablet :: END
