// SECTION tablet :: START

section#tablet.tablet.tablet--feedback

	.tablet__header
		div
			a(href="#" class="" title="")
				span
				span
				span
		div
			a(href="" class="" title="")
				i.icon-font.icon-user
				span!= "3"
		div
			a(href="" class="" title="")
				i.icon-font.icon-doc
				span!= "0"
		div
			a(href="" class="" title="")
				i.icon-font.icon-bell

	.tablet__content
		.tablet__banner

		.tablet__rating-wrapper
			.tablet__rating.tablet__rating--excellent
				.tablet__rating-top
					div
						i!= "WINE"
						p!= "Cakebread Cellars, Merlot"
					div
						span(changeColor-excellent-js)!= "Excellent"
				.tablet__rating-bottom
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate

			.tablet__rating.tablet__rating--verygood
				.tablet__rating-top
					div
						i!= "Cold appetizers"
						p!= "Chilled Shellfish Platter"
					div
						span(changeColor-veryGood-js)!= "VERY GOOD"
				.tablet__rating-bottom
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a(href="#" class="" title="")
						i.icon-font.icon-rate

			.tablet__rating.tablet__rating--good
				.tablet__rating-top
					div
						i!= "Second course"
						p!= "Fresh florida stone crab clams"
					div
						span(changeColor-good-js)!= "GOOD"
				.tablet__rating-bottom
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a(href="#" class="" title="")
						i.icon-font.icon-rate
					a(href="#" class="" title="")
						i.icon-font.icon-rate

			.tablet__rating.tablet__rating--notgood
				.tablet__rating-top
					div
						p!= "Please rate our service efficiency"
					div
						span(changeColor-notGood-js)!= "NOT GOOD"
				.tablet__rating-bottom
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a(href="#" class="" title="")
						i.icon-font.icon-rate
					a(href="#" class="" title="")
						i.icon-font.icon-rate
					a(href="#" class="" title="")
						i.icon-font.icon-rate

			.tablet__rating.tablet__rating--bad
				.tablet__rating-top
					div
						p!= "Rate your overall experience"
					div
						span(changeColor-bad-js)!= "bad"
				.tablet__rating-bottom
					a.is-choose(href="#" class="" title="")
						i.icon-font.icon-rate
					a(href="#" class="" title="")
						i.icon-font.icon-rate
					a(href="#" class="" title="")
						i.icon-font.icon-rate
					a(href="#" class="" title="")
						i.icon-font.icon-rate
					a(href="#" class="" title="")
						i.icon-font.icon-rate


	.tablet__footer
		a.tablet__submit(href="#" class="" title="")!= "Submit"


// SECTION tablet :: END
