// SECTION tablet :: START

section#tablet.tablet.tablet--general.tablet--menuItems

	.tablet__section.tablet__section-0
		.tablet__header
			div
				a(href="#" class="" title="")
					span
					span
					span
			div
				a(href="" class="" title="")
					i.icon-font.icon-user
					span!= "3"
			div
				a(href="" class="" title="")
					i.icon-font.icon-doc
					span!= "0"
			div
				a(href="" class="" title="")
					i.icon-font.icon-bell

		.tablet__subheader
			a(href="#" class="" title="")
				i.icon-font.icon-corner
			p(sectionHeader-js)!= "Cold Appetizers"
			a(href="#" class="" title="")
				i.icon-font.icon-corner

		.tablet__content
			.tablet__view.tablet__view-list

				.tablet__btn-wrapper
					a.tablet__btn.tablet__btn--spicy.is-choose(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Fresh florida stone crab clams"
						div
							span!= "<span currency-sign-js>$</span>18.50"
					a.tablet__btn.tablet__btn--popular(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Shrimp cocktail"
						div
							span!= "<span currency-sign-js>$</span>14.40"
					a.tablet__btn.tablet__btn--special(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Tuna Tartare Tower"
						div
							span!= "<span currency-sign-js>$</span>17.00"
					a.tablet__btn.tablet__btn--new(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "King Crab Mac'n'Cheese"
						div
							span!= "<span currency-sign-js>$</span>18.20"
					a.tablet__btn(href="#" class="" title="")
						div
							p(itemTitleMenu-js)!= "Crab Fried Rice"
						div
							span!= "<span currency-sign-js>$</span>14.00"

	.tablet__section.tablet__section-1

		.tablet__neutral
			.tablet__neutral-total
				.tablet__order
					p!= "Order total:"
					span!= "$245.35"
			.tablet__neutral-prev
				i.icon-font.icon-arrow
			.tablet__neutral-confirm
				p!= "Confirm"

	.tablet__section.tablet__section-2

		.tablet__button-wrapper
			a.tablet__button.tablet__button--alert(href="#" class="" title="")!= "Alert<br>dialogue"
			a.tablet__button.tablet__button--confirmation(href="#" class="" title="")!= "Confirmation<br>dialogue"

// SECTION tablet :: END
