// HEADER :: START

header#header.header

	.header__wrapper

		.header__wrapper-top
			.logo.logo--header
				a.logo__btn(href="/" class="" title="")
					img.logo__img(src="img/logo.svg" alt="" title="")
					span!= "Dinner Bell"

		.header__wrapper-left
			+hamburgerCustom()

			h1.header__title!= "Section title"

		.header__wrapper-right

			.header__dropdown(dropdown-js)
				.header__dropdown-toggle(dropdown-btn-js)
					span!= "Blue Strawberry"
				.header__dropdown-menu(dropdown-menu-js)
					a.header__dropdown-item(href="#" class="" title="")!= "Company profile"
					a.header__dropdown-item(href="#" class="" title="")!= "Login & Security"
					a.header__dropdown-item(href="#" class="" title="")!= "TeamBilling Center"
					a.header__dropdown-item(href="#" class="" title="")!= "Tablet Settings"
					a.header__dropdown-item(href="#" class="" title="")!= "Help"
					a.header__dropdown-item(href="#" class="" title="")!= "Report a bug"
					a.header__dropdown-item(href="#" class="" title="")!= "Leave feedback"
					a.header__dropdown-item(href="#" class="" title="")!= "Log Out"

			.header__nav
				.header__nav-title
					h1.header__title!= "Section title"
				.header__nav-wrapper
					div.header__nav-drop.header__nav-drop--setting(dropdown-js)
						a.header__nav-btn.header__nav-btn--setting(href="#" class="" title="" dropdown-btn-js)
							i.icon-png.i-setting-1
						div(dropdown-menu-js)
							.header__nav-drop--header
								div
									div
										i.icon-png.i-user-1
								div
									p!= "Christopher Kelly"
									span!= "mail@bluestrawberry.com"
									a(href="#" class="" title="")!= "Edit profile"
							.header__nav-drop--body

								.header__nav-drop--collapse
									div.header__nav-drop--collapse-head
										div
											i.icon-font.icon-billing
											span!= "Billing"
										div
											i.icon-font.icon-corner

									div.header__nav-drop--collapse-body
										ul
											li
												div
													p!= "Monthly total:"
												div
													span!= "$250"
											li
												div
													p!= "Current Balance:"
												div
													span!= "$0"
											li
												div
													p!= "Next Payment:"
												div
													span!= "06/27/2019"

								.header__nav-drop--method
									div
										p!= "Payment Method:"
									div
										span!= "**** 0414"
										i.icon-png.i-mastercard

								.header__nav-drop--btn
									a(href="#" class="" title="")!= "Manage billing"
									a(href="#" class="" title="")!= "Make a payment"

							.header__nav-drop--footer
								a(href="#" class="" title="")
									div
										i.icon-font.icon-unlock
									span!= "Login & Security"
								a(href="#" class="" title="")
									div
										i.icon-font.icon-information
									span!= "Help"
								a(href="#" class="" title="")
									div
										i.icon-font.icon-sign-out
									span!= "Sign Out"

					div.header__nav-drop.header__nav-drop--qrcode(dropdown-js)
						a.header__nav-btn.header__nav-btn--qrcode(href="#" class="" title="" dropdown-btn-js)
							i.icon-png.i-qrcode
						div(dropdown-menu-js)
							.header__nav-drop--header
								p!= "Access Codes"
							.header__nav-drop--body
								form.c-form(action='' method='' autocomplete='off')
									+formSelectCustom(dataFormObj.selectFieldQR)
							.header__nav-drop--footer
					div.header__nav-drop.header__nav-drop--team(dropdown-js)
						a.header__nav-btn.header__nav-btn--team(href="#" class="" title="" dropdown-btn-js)
							i.icon-png.i-team
						div(dropdown-menu-js)
					div.header__nav-drop.header__nav-drop--notification(dropdown-js)
						a.header__nav-btn.header__nav-btn--notification(href="#" class="" title="" dropdown-btn-js)
							i.icon-png.i-notification
						div(dropdown-menu-js)

// HEADER :: END
