// HEADER sidebar :: START

mixin sidebarNavWDrop(iconName, itemName)
	.sidebar__nav-btn-node
		a.sidebar__nav-btn(href="#" class="" title="")
			div
				.icon-png-wrapper
					i.icon-png(class!= iconName)
			div
				span!= itemName

mixin sidebarNavSetting(navName)
	.sidebar__nav-drop-more
		a.sidebar__nav-btn.sidebar__nav-drop-link(href="#" class="" title="")
			div
				i.icon-font.icon-move
			div
				span!= navName
				p
					i.icon-font.icon-menu
		.sidebar__nav-setting
			a.sidebar__nav-setting--move(href="#" class="" title="")
				i.icon-font.icon-move
			a.sidebar__nav-setting--setting(href="#" class="" title="")
				i.icon-font.icon-settings
			a.sidebar__nav-setting--copy(href="#" class="" title="")
				i.icon-font.icon-copy
			a.sidebar__nav-setting--remove(href="#" class="" title="")
				i.icon-font.icon-bin

section#sidebar.sidebar

	.sidebar__wrapper

		.sidebar__wrapper-top

			.logo.logo--header
				a.logo__btn(href="/" class="" title="")
					img.logo__img(src="img/logo.svg" alt="" title="")

		.sidebar__wrapper-middle

			.sidebar__nav
				+sidebarNavWDrop('i-overview', 'Overview')

				.sidebar__nav-btn-node
					.sidebar__nav-btn.sidebar__nav-btn--drop
						div
							.icon-png-wrapper
								i.icon-png.i-menu
						div
							span!= "Menus"
							p
								i.icon-font.icon-corner

					.sidebar__nav-drop
						+sidebarNavSetting('Breakfast')
						+sidebarNavSetting('Lunch')
						+sidebarNavSetting('Dinner')
						+sidebarNavSetting('Business lunch')
						+sidebarNavSetting('Daily Specials')
						+sidebarNavSetting('Wine-list')
						a.sidebar__nav-btn.sidebar__nav-drop-link.sidebar__nav-btn--add(href="#" class="" title="")
							div
							div
								span!= "Add new section"

				.sidebar__nav-btn-node
					.sidebar__nav-btn.sidebar__nav-btn--drop
						div
							.icon-png-wrapper
								i.icon-png.i-inventory
						div
							span!= "Inventory"
							p
								i.icon-font.icon-corner

					.sidebar__nav-drop
						+sidebarNavSetting('Inventory item')
						+sidebarNavSetting('Inventory item more')
						+sidebarNavSetting('Inventory item')

				+sidebarNavWDrop('i-reports', 'Reports')
				+sidebarNavWDrop('i-orders', 'Orders')
				+sidebarNavWDrop('i-customers', 'Customers')
				+sidebarNavWDrop('i-merchandise', 'Merchandise')
				+sidebarNavWDrop('i-entertainment', 'Entertainment')

				.sidebar__nav-btn-node
					a.sidebar__nav-btn.sidebar__nav-btn--add(href="#" class="" title="")
						div
							.icon-png-wrapper
								i!= "+"
						div
							span!= "Add service"

		.sidebar__wrapper-bottom

			.sidebar__menu
				a.sidebar__menu-link(href="#" class="" title="")!= "Contact us"
				a.sidebar__menu-link.sidebar__menu-link--mb(href="#" class="" title="")!= "Send feedback"
				a.sidebar__menu-link(href="#" class="" title="")!= "Terms  of service"
				a.sidebar__menu-link.sidebar__menu-link--mb(href="#" class="" title="")!= "Privacy policy"

			.copyright
				p.copyright__text!= "© 2019 DinnerBell"

// HEADER sidebar :: END
