// SECTION mds :: START

section#mds.mds

	.mds__wrapper
		.mds__wrapper-left

			.mds__wrapper-preview
				a(href="#" class="" title="")
					i.icon-font.icon-eye

				include ../tablet/_tablet-main-menu

			.mds__wrapper-heading

				.mds__title-wrapper(dropdown-js)
					.mds__title.mds__title--internal(dropdown-btn-js)
						span!= "Main menu"
						i.icon-font.icon-corner
					.mds__title-drop(dropdown-menu-js)
						a(href="menu-design-setting.html" class="" title="")!= "Base theme"
						a(href="menu-design-setting-1.html" class="" title="")!= "Base settings"
						a(href="menu-design-setting-2.html" class="" title="")!= "Intro screen"
						a(href="menu-design-setting-4.html" class="" title="")!= "Menu items"
						a(href="menu-design-setting-5.html" class="" title="")!= "Item details"
						a(href="menu-design-setting-6.html" class="" title="")!= "Feedback"
						a(href="menu-design-setting-7.html" class="" title="")!= "My order"
						a(href="menu-design-setting-8.html" class="" title="")!= "Log Out"

				.mds__title-select
					.c-form
						.c-form__field.c-form__field--select

							.c-form__select-wrapper
								.c-form__select-value

								select.c-form__select(
									id!= ''
									name!= 'select_currency'
									select-js
									select-tp-page-js
								)
									option(value!= '' selected="")!= 'Main menu'
									option(value="menu-design-setting.html")!= "Base theme"
									option(value="menu-design-setting-1.html")!= "Base settings"
									option(value="menu-design-setting-2.html")!= "Intro screen"
									option(value="menu-design-setting-4.html")!= "Menu items"
									option(value="menu-design-setting-5.html")!= "Item details"
									option(value="menu-design-setting-6.html")!= "Feedback"
									option(value="menu-design-setting-7.html")!= "My order"
									option(value="menu-design-setting-8.html")!= "Log Out"

								.c-form__select-icon
									i

			form.c-form(action="" autocomplete='off')

				.mds__upload.mds__upload--hi(upload-file-js)
					p.mds__upload-title.mds__screen-title!= "Background"

					.mds__upload-wrapper.mds__upload-wrapper--double.mds__upload-wrapper--main(upload-main-js)
						.mds__upload-left
							p.mds__upload-subtitle!= "Color"
							.mds__upload-color(change-bg-js data-default-color="#161616")
								a(href="#" class="" title="")
								span

						.mds__upload-right
							p.mds__upload-subtitle!= "Background image"
							.mds__upload-bg(change-imageParent-js)
								div(change-img-js)
									span!= "Upload image"
									input(type='file' accept="image/jpg, image/jpeg" name='upload_')

					.mds__upload-wrapper.mds__upload-wrapper--double.mds__upload-wrapper--additional(upload-additional-js)
						div
							.mds__upload-left
								.mds__upload-preview(upload-preview-js)
									p!= "image<br>preview"

							.mds__upload-right

								.mds__upload-option

									.mds__upload-radio
										div
											label
												input(type='radio' name='upload_image_size' checked upload-imgFixed-js)
												span!= "Fixed position"
										div
											label
												input(type='radio' name='upload_image_size' upload-imgRepeat-js)
												span!= "Repeat / Tile image"

									a.mds__upload-remove(href="#" class="" title="" upload-remove-js)
										i.icon-font.icon-bin
										span!= "Remove image"

				p.mds__subtitle.mds__subtitle--mdsMenuPt!= "Menu Layout"

				.mds__menu-wrapper.mds__menu-wrapper--mainMenu
					a.mds__menu(href="#" class="" title="" data-name='list')!= "List"
					a.mds__menu.is-active(href="#" class="" title="" data-name='thumb')!= "Thumbnails"

				p.mds__subtitle!= "Font properties"

				.mds__fontSize-wrapper

					.mds__fontSize-row
						.mds__fontSize-col.mds__fontSize-col-0
							p.mds__fontSize-name!= "List mode"
						.mds__fontSize-col.mds__fontSize-col-1
							div
								span!= "a"
							div
								#mainMenuFSList
							div
								p!= "a"
						.mds__fontSize-col.mds__fontSize-col-2(data-name="list")
							a(href="#" class="" title="")

					.mds__fontSize-row
						.mds__fontSize-col.mds__fontSize-col-0
							p.mds__fontSize-name!= "Thumbnail mode"
						.mds__fontSize-col.mds__fontSize-col-1
							div
								span!= "a"
							div
								#mainMenuFSThumbnail
							div
								p!= "a"
						.mds__fontSize-col.mds__fontSize-col-2(data-name="thumbnail")
							a(href="#" class="" title="")

					.mds__fontSize-row
						.mds__fontSize-col.mds__fontSize-col-0
							p.mds__fontSize-name!= "Information"
						.mds__fontSize-col.mds__fontSize-col-1
							div
								span!= "a"
							div
								#mainMenuFSInformation
							div
								p!= "a"
							.mds__fontSize-col.mds__fontSize-col-2(data-name="information")
								a(href="#" class="" title="")

				+formBtn('', 'c-btn c-btn--bg', 'Update settings')

		.mds__wrapper-right

			.mds__wrapper-header
				div
					i.icon-font.icon-eye
					p!= "Midnight Theme"
				div
					a.mds__wrapper-close(href="#" class="" title="")
						i.icon-font.icon-close

			include ../tablet/_tablet-main-menu

// SECTION mds :: END
