// SECTION mds :: START

section#mds.mds

	.mds__wrapper
		.mds__wrapper-left

			.mds__wrapper-heading

				.mds__title-wrapper(dropdown-js)
					.mds__title.mds__title--internal(dropdown-btn-js)
						span!= "Intro screen"
						i.icon-font.icon-corner
					.mds__title-drop(dropdown-menu-js)
						a(href="menu-design-setting.html" class="" title="")!= "Base theme"
						a(href="menu-design-setting-1.html" class="" title="")!= "Base settings"
						a(href="menu-design-setting-3.html" class="" title="")!= "Main menu"
						a(href="menu-design-setting-4.html" class="" title="")!= "Menu items"
						a(href="menu-design-setting-5.html" class="" title="")!= "Item details"
						a(href="menu-design-setting-6.html" class="" title="")!= "Feedback"
						a(href="menu-design-setting-7.html" class="" title="")!= "My order"
						a(href="menu-design-setting-8.html" class="" title="")!= "Log Out"

				a.mds__wrapper-preview(href="#" class="" title="")
					p
						i.icon-font.icon-eye
					span!= "preview"

			form.c-form(action="" autocomplete='off' name='intro_screen')

				.mds__screen-wrapper
					.mds__screen.is-choose(choose-screen-btn-js data-name='bg')
						p.mds__screen-title!= "Static image"
						.mds__screen-row
							.mds__screen-col.mds__screen-col-0
								p.mds__screen-desc!= "Image dimensions: 768x1024<br>Supported Formats: JPG, PNG"
							.mds__screen-col.mds__screen-col-1
								.mds__screen-upload(upload-image-js)!= "Upload images"
									input(type='file' accept=".jpg, .jpeg, .png" name='upload_image')
						.mds__upload-row-wrapper(upload-previewFiles-js upload-preview-image-js)

					.mds__screen(choose-screen-btn-js  data-name='slideshow')
						p.mds__screen-title!= "Slideshow"
						.mds__screen-row
							.mds__screen-col.mds__screen-col-0
								p.mds__screen-desc!= "Image dimensions: 768x1024<br>Supported Formats: JPG, PNG<br>3 images maximum"
							.mds__screen-col.mds__screen-col-1
								.mds__screen-upload(upload-slideshow-js)!= "Upload images"
									//input(type='file' multiple accept=".jpg, .jpeg, .png" name='upload_slideshow')
						.mds__upload-row-wrapper(upload-previewFiles-js upload-preview-slideshow-js)

					.mds__screen(choose-screen-btn-js data-name='video')
						p.mds__screen-title!= "Video Intro"
						.mds__screen-row
							.mds__screen-col.mds__screen-col-0
								p.mds__screen-desc!= "Video dimensions: 768x1024<br>Supported Formats: OGG, MP4, WEBM<br>Max file weight: 50 Mb"
							.mds__screen-col.mds__screen-col-1
								.mds__screen-upload(upload-video-js)!= "Upload images"
									input(type='file' accept=".webm, .ogg, .mp4" name='upload_video')
						.mds__upload-row-wrapper(upload-previewFiles-js upload-preview-video-js)

				+formBtn('', 'c-btn c-btn--bg', 'Update settings')

		.mds__wrapper-right

			.mds__wrapper-header
				div
					i.icon-font.icon-eye
					p!= "Midnight Theme"
				div
					a.mds__wrapper-close(href="#" class="" title="")
						i.icon-font.icon-close

			include ../tablet/_tablet-intro

// SECTION mds :: END
