// SECTION mds :: START

section#mds.mds

	.mds__wrapper
		.mds__wrapper-left

			.mds__wrapper-heading

				.mds__title-wrapper(dropdown-js)
					.mds__title.mds__title--internal(dropdown-btn-js)
						span!= "Log Out"
						i.icon-font.icon-corner
					.mds__title-drop(dropdown-menu-js)
						a(href="#" class="" title="")!= "Base theme"
						a(href="#" class="" title="")!= "Base settings"
						a(href="#" class="" title="")!= "Intro screen"
						a(href="#" class="" title="")!= "Main menu"
						a(href="#" class="" title="")!= "Menu items"
						a(href="#" class="" title="")!= "Item details"
						a(href="#" class="" title="")!= "Feedback"
						a(href="#" class="" title="")!= "My order"

				a.mds__wrapper-preview(href="#" class="" title="")
					p
						i.icon-font.icon-eye
					span!= "preview"

			form.c-form(action="" autocomplete='off')

				.mds__screen.mds__screen--nc.mds__screen--wbbs
					p.mds__screen-title!= "Background image"
					.mds__screen-row
						.mds__screen-col.mds__screen-col-0
							p.mds__screen-desc!= "Image dimensions: 768x1024<br>Supported Formats: JPG, PNG"
						.mds__screen-col.mds__screen-col-1
							a(href="#" title='').mds__screen-upload!= "Upload images"

				+formBtn('', 'c-btn c-btn--bg', 'Update settings')

		.mds__wrapper-right

			.mds__wrapper-header
				div
					i.icon-font.icon-eye
					p!= "Midnight Theme"
				div
					a.mds__wrapper-close(href="#" class="" title="")
						i.icon-font.icon-close

			include ../tablet/_tablet-logout

// SECTION mds :: END
