// SECTION mds :: START

-
	var themeArr = [
		'Midnight',
		'Big Sur',
		'Amsterdam',
	];
	var themeImgArr = [
		'img-mds-theme-midnight',
		'img-mds-theme-bigsur',
		'img-mds-theme-amsterdam',
	];

section#mds.mds

	.mds__wrapper-heading

		.mds__title-wrapper(dropdown-js)
			.mds__title.mds__title--internal(dropdown-btn-js)
				span!= "Base theme"
				i.icon-font.icon-corner
			.mds__title-drop(dropdown-menu-js)
				a(href="#" class="" title="")!= "Base settings"
				a(href="#" class="" title="")!= "Intro screen"
				a(href="#" class="" title="")!= "Main menu"
				a(href="#" class="" title="")!= "Menu items"
				a(href="#" class="" title="")!= "Item details"
				a(href="#" class="" title="")!= "Feedback"
				a(href="#" class="" title="")!= "My order"
				a(href="#" class="" title="")!= "Log Out"

	.mds__theme-wrapper
		each val, idx in themeArr
			a.mds__theme(class!= 'mds__theme-' + idx href="#" title="")
				.mds__theme-top
					img(src="img/" + themeImgArr[idx] + ".jpg" srcset="img/" + themeImgArr[idx] + "@2x.jpg 2x" alt="" title="")

					.mds__theme-ind
						span
						span
						span
						span
						span
						span

					.mds__theme-btn
						button(type='button')
							span!= "Use selected theme"
							i.icon-font.icon-arrow

						button(type='button')
							span!= "Customize"
							i.icon-font.icon-arrow

				.mds__theme-bottom
					p!= val

// SECTION mds :: E	ND
