// SECTION mds :: START

-
	var colorTitleArr = [
		[
			{
				title: 'Navigation bar',
				color: '#ffffff',
				color1: '#171732',
				color2: '#252660',
				name : 'navText',
				nameText : 'navBg',
				nameBorder : 'navBorder'
			},
			{
				title: 'Borders',
				color: '#292a55',
				name: 'border'
			},
			{
				title: 'Select / Highlight',
				color: '#33358e',
				name: 'highlight'
			}
		],
		[
			{
				title: 'UI Neutral',
				color: '#282d43',
				color1: '#333333',
				name: 'neutral',
				name1: 'neutral1',
			},
			{
				title: 'Confirmation button',
				color: '#32348e',
				colorText: '#fff',
				name: 'confirm',
				nameText: 'confirmTxt',
			},
			{
				title: 'Alert dialogue',
				color: '#55001b',
				colorText: '#fff',
				name: 'alert',
				nameText: 'alertTxt',
			},
			{
				title: 'Confirmation dialogue',
				color: '#005826',
				colorText: '#fff',
				name: 'confirmation',
				nameText: 'confirmationTxt',
			}
		]
	];

section#mds.mds

	.mds__wrapper
		.mds__wrapper-left

			.mds__wrapper-heading

				.mds__title-wrapper(dropdown-js)
					.mds__title.mds__title--internal(dropdown-btn-js)
						span!= "Base settings"
						i.icon-font.icon-corner
					.mds__title-drop(dropdown-menu-js)
						a(href="menu-design-setting.html" class="" title="")!= "Base theme"
						a(href="menu-design-setting-2.html" class="" title="")!= "Intro screen"
						a(href="menu-design-setting-3.html" class="" title="")!= "Main menu"
						a(href="menu-design-setting-4.html" class="" title="")!= "Menu items"
						a(href="menu-design-setting-5.html" class="" title="")!= "Item details"
						a(href="menu-design-setting-6.html" class="" title="")!= "Feedback"
						a(href="menu-design-setting-7.html" class="" title="")!= "My order"
						a(href="menu-design-setting-8.html" class="" title="")!= "Log Out"

				a.mds__wrapper-preview(href="#" class="" title="")
					p
						i.icon-font.icon-eye
					span!= "preview"

			form.c-form(action="" autocomplete='off')

				p.mds__subtitle!= "Font settings"

				.mds__form-content.mds__form-content--font
					.c-form__group.c-form__group--two
						.c-form__group-col.c-form__group-col-0
							p!= "Text"
						.c-form__group-col.c-form__group-col-1
							.c-form__field.c-form__field--select

								.c-form__select-wrapper
									.c-form__select-value

									select.c-form__select(
										id!= 'select_font_text'
										name!= 'select_font_text'
										select-js
										select-font-js
									)
										option(value="" selected disabled)!= 'Select font'
										option(value!= 'Fort')!= 'Fort'
										option(value!= 'Roboto' data-google-api='https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap;')!= 'Roboto'
										option(value!= 'Open Sans' data-google-api='https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap;')!= 'Open Sans'
										option(value!= 'Lato' data-google-api='https://fonts.googleapis.com/css?family=Lato:400,700&display=swap;')!= 'Lato'
										option(value!= 'Montserrat' data-google-api='https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap;')!= 'Montserrat'
										option(value!= 'Roboto Condensed' data-google-api='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap;')!= 'Roboto Condensed'
										option(value!= 'Raleway' data-google-api='https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap;')!= 'Raleway'
										option(value!= 'PT Sans' data-google-api='https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap;')!= 'PT Sans'
										option(value!= 'Poppins' data-google-api='https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap;')!= 'Poppins'
										option(value!= 'Ubuntu' data-google-api='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap;')!= 'Ubuntu'
										option(value!= 'Open Sans Condensed' data-google-api='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&display=swap;')!= 'Open Sans Condensed'
										option(value!= 'Lora' data-google-api='https://fonts.googleapis.com/css?family=Lora:400,700&display=swap;')!= 'Lora'
										option(value!= 'Playfair Display' data-google-api='https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap;')!= 'Playfair Display'
										option(value!= 'Muli' data-google-api='https://fonts.googleapis.com/css?family=Muli:400,700&display=swap;')!= 'Muli'

									.c-form__select-icon
										i

					.c-form__group.c-form__group--two
						.c-form__group-col.c-form__group-col-0
							p!= "Numeric"
						.c-form__group-col.c-form__group-col-1
							.c-form__field.c-form__field--select

								.c-form__select-wrapper
									.c-form__select-value

									select.c-form__select(
										id!= 'select_font_numeric'
										name!= 'select_font_numeric'
										select-js
										select-font-numeric-js
									)
										option(value="" selected disabled)!= 'Select font'
										option(value!= 'Fort')!= 'Fort'
										option(value!= 'Roboto' data-google-api='https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap;')!= 'Roboto'
										option(value!= 'Open Sans' data-google-api='https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap;')!= 'Open Sans'
										option(value!= 'Lato' data-google-api='https://fonts.googleapis.com/css?family=Lato:400,700&display=swap;')!= 'Lato'
										option(value!= 'Montserrat' data-google-api='https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap;')!= 'Montserrat'
										option(value!= 'Roboto Condensed' data-google-api='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap;')!= 'Roboto Condensed'
										option(value!= 'Raleway' data-google-api='https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap;')!= 'Raleway'
										option(value!= 'PT Sans' data-google-api='https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap;')!= 'PT Sans'
										option(value!= 'Poppins' data-google-api='https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap;')!= 'Poppins'
										option(value!= 'Ubuntu' data-google-api='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap;')!= 'Ubuntu'
										option(value!= 'Open Sans Condensed' data-google-api='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&display=swap;')!= 'Open Sans Condensed'
										option(value!= 'Lora' data-google-api='https://fonts.googleapis.com/css?family=Lora:400,700&display=swap;')!= 'Lora'
										option(value!= 'Playfair Display' data-google-api='https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap;')!= 'Playfair Display'
										option(value!= 'Muli' data-google-api='https://fonts.googleapis.com/css?family=Muli:400,700&display=swap;')!= 'Muli'

									.c-form__select-icon
										i

				p.mds__subtitle!= "General UI style"

				each val, idx in colorTitleArr
					.mds__form-content
						each _v, _i in colorTitleArr[idx]
							.mds__form-color.mds__form-color--winput
								div
									p!= colorTitleArr[idx][_i].title
								div(class!= ((idx === 0 && _i === 0)) ?'is-three': (idx === 1 && _i === 0) ? '': (idx > 0 && _i > 0) ? '':'is-one')
									.mds__form-color-content(data-color!= colorTitleArr[idx][_i].color, data-name!= colorTitleArr[idx][_i].name)
										a(href="#" class="" title="")
										span(style="background-color:" + colorTitleArr[idx][_i].color)

									if(idx > 0 && _i > 0)
										.mds__form-color-content(data-color!= colorTitleArr[idx][_i].colorText, data-name!= colorTitleArr[idx][_i].nameText)
											a(href="#" class="" title="")
											span(style="background-color:" + colorTitleArr[idx][_i].colorText)

									if(idx === 0 && _i === 0)
										.mds__form-color-content(data-color!= colorTitleArr[idx][_i].color1, data-name!= colorTitleArr[idx][_i].nameText)
											a(href="#" class="" title="")
											span(style="background-color:" + colorTitleArr[idx][_i].color1)

										.mds__form-color-content(data-color!= colorTitleArr[idx][_i].color2, data-name!= colorTitleArr[idx][_i].nameBorder)
											a(href="#" class="" title="")
											span(style="background-color:" + colorTitleArr[idx][_i].color2)

									if(idx === 1 && _i === 0)
										.mds__form-color-content(data-color!= colorTitleArr[idx][_i].color1, data-name!= colorTitleArr[idx][_i].name1)
											a(href="#" class="" title="")
											span(style="background-color:" + colorTitleArr[idx][_i].color1)

				p.mds__subtitle!= "Currency and Price format"

				.mds__form-content.mds__form-content--last

					.c-form__group.c-form__group--two
						.c-form__group-col.c-form__group-col-0
							.c-form__field.c-form__field--select

								.c-form__select-wrapper
									.c-form__select-value

									select.c-form__select(
										id!= 'select_currency'
										name!= 'select_currency'
										select-js
										select-currency-js
									)
										option(value="" selected disabled)!= 'Select currency'
										option(value!= '$')!= 'USD'
										option(value!= '€')!= 'EUR'
										option(value!= '£')!= 'GBP'
										option(value!= '¥')!= 'JPY'
										option(value!= '₣')!= 'CHF'

									.c-form__select-icon
										i

						.c-form__group-col.c-form__group-col-1
							.c-form__field.c-form__field--select

								.c-form__select-wrapper
									.c-form__select-value

									select.c-form__select(
										id!= 'select_currency_format'
										name!= 'select_currency_format'
										select-js
										select-currencyFormat-js
									)
										option(value="" selected disabled)!= 'Price format'
										option(value!= '$0')!= '$0'
										option(value!= '$0.00')!= '$0.00'
										option(value!= '0$')!= '0$'
										option(value!= '0.00$')!= '0.00$'

									.c-form__select-icon
										i

				+formBtn('', 'c-btn c-btn--bg', 'Update settings')

		.mds__wrapper-right

			.mds__wrapper-header
				div
					i.icon-font.icon-eye
					p!= "Midnight Theme"
				div
					a.mds__wrapper-close(href="#" class="" title="")
						i.icon-font.icon-close

			include ../tablet/_tablet-base-setting


// SECTION mds :: END
