// SECTION mds :: START

-
	var colorTitleArr = [
		[
			{
				title: 'Excellent',
				colorVal: '#32ed00',
				colorBG: '#133208',
				name: 'excellent'
			},
			{
				title: 'Very good',
				colorVal: '#2b960f',
				colorBG: '#0b2717',
				name: 'veryGood'
			},
			{
				title: 'Good',
				colorVal: '#fcb016',
				colorBG: '#34260d',
				name: 'good'
			},
			{
				title: 'Not good',
				colorVal: '#bc6226',
				colorBG: '#312612',
				name: 'notGood'
			},
			{
				title: 'Bad',
				colorVal: '#c31010',
				colorBG: '#3a0808',
				name: 'bad'
			}
		],
	];

section#mds.mds

	.mds__wrapper
		.mds__wrapper-left

			.mds__wrapper-heading

				.mds__title-wrapper(dropdown-js)
					.mds__title.mds__title--internal(dropdown-btn-js)
						span!= "Feedback"
						i.icon-font.icon-corner
					.mds__title-drop(dropdown-menu-js)
						a(href="menu-design-setting.html#" class="" title="")!= "Base theme"
						a(href="menu-design-setting-1.html" class="" title="")!= "Base settings"
						a(href="menu-design-setting-2.html" class="" title="")!= "Intro screen"
						a(href="menu-design-setting-3.html" class="" title="")!= "Main menu"
						a(href="menu-design-setting-4.html" class="" title="")!= "Menu items"
						a(href="menu-design-setting-5.html" class="" title="")!= "Item details"
						a(href="menu-design-setting-7.html" class="" title="")!= "My order"
						a(href="menu-design-setting-8.html" class="" title="")!= "Log Out"

				a.mds__wrapper-preview(href="#" class="" title="")
					p
						i.icon-font.icon-eye
					span!= "preview"

			form.c-form(action="" autocomplete='off')

				.mds__upload.mds__upload--hi(upload-file-js)
					p.mds__upload-title.mds__screen-title!= "Background"

					.mds__upload-wrapper.mds__upload-wrapper--double.mds__upload-wrapper--main(upload-main-js)
						.mds__upload-left
							p.mds__upload-subtitle!= "Color"
							.mds__upload-color(change-bg-js data-default-color="#161616")
								a(href="#" class="" title="")
								span

						.mds__upload-right
							p.mds__upload-subtitle!= "Background image"
							.mds__upload-bg(change-imageParent-js)
								div(change-img-js)
									span!= "Upload image"
									input(type='file' accept=".jpg, .jpeg" name='upload_')

					.mds__upload-wrapper.mds__upload-wrapper--double.mds__upload-wrapper--additional(upload-additional-js)
						div
							.mds__upload-left
								.mds__upload-preview(upload-preview-js)
									p!= "image<br>preview"

							.mds__upload-right

								.mds__upload-option

									.mds__upload-radio
										div
											label
												input(type='radio' name='upload_image_size' checked upload-imgFixed-js)
												span!= "Fixed position"
										div
											label
												input(type='radio' name='upload_image_size' upload-imgRepeat-js)
												span!= "Repeat / Tile image"

									a.mds__upload-remove(href="#" class="" title="" upload-remove-js)
										i.icon-font.icon-bin
										span!= "Remove image"

				p.mds__subtitle.mds__subtitle--mdsFeedbackPt!= "Rating colors"

				each val, idx in colorTitleArr
					.mds__form-content
						each _v, _i in colorTitleArr[idx]
							.mds__form-color.mds__form-color--winput
								div
									p!= colorTitleArr[idx][_i].title
								div
									.mds__form-color-content(data-color!= colorTitleArr[idx][_i].colorVal, data-name!= colorTitleArr[idx][_i].name)
										a(href="#" class="" title="")
										span(style="background-color:" + colorTitleArr[idx][_i].colorVal)

									.mds__form-color-content(data-color!= colorTitleArr[idx][_i].colorBG, data-bg!= colorTitleArr[idx][_i].name)
										a(href="#" class="" title="")
										span(style="background-color:" + colorTitleArr[idx][_i].colorBG)

				p.mds__subtitle.mds__subtitle--mdsDetailsPt!= "Font Properties"

				.mds__fontSize-wrapper

					.mds__fontSize-row
						.mds__fontSize-col.mds__fontSize-col-0
							p!= "Item Title"
						.mds__fontSize-col.mds__fontSize-col-1
							div
								span!= "a"
							div
								#feedbackFSItemTitle
							div
								p!= "a"

					.mds__fontSize-row
						.mds__fontSize-col.mds__fontSize-col-0
							p!= "Item Category"
						.mds__fontSize-col.mds__fontSize-col-1
							div
								span!= "a"
							div
								#feedbackFSItemCategory
							div
								p!= "a"

					.mds__fontSize-row
						.mds__fontSize-col.mds__fontSize-col-0
							p!= "Item Assessment"
						.mds__fontSize-col.mds__fontSize-col-1
							div
								span!= "a"
							div
								#feedbackFSItemAssessment
							div
								p!= "a"

				p.mds__subtitle.mds__subtitle--mdsFeedbackPt!= "Top Margin"

				.mds__indent-wrapper
					.mds__indent
						div
							#marginFeedback

				+formBtn('', 'c-btn c-btn--bg', 'Update settings')

		.mds__wrapper-right

			.mds__wrapper-header
				div
					i.icon-font.icon-eye
					p!= "Midnight Theme"
				div
					a.mds__wrapper-close(href="#" class="" title="")
						i.icon-font.icon-close

			include ../tablet/_tablet-feedback

// SECTION mds :: END
