// SECTION mds :: START

-
	var colorTitleArr = [
		[
			{
				title: 'In process',
				color: '#bf650d',
				name: 'inProcess'
			},
			{
				title: 'Pending',
				color: '#666666',
				name: 'pending'
			},
			{
				title: 'Served',
				color: '#629913',
				name: 'served'
			}
		],
	];

section#mds.mds

	.mds__wrapper
		.mds__wrapper-left

			.mds__wrapper-heading

				.mds__title-wrapper(dropdown-js)
					.mds__title.mds__title--internal(dropdown-btn-js)
						span!= "My order"
						i.icon-font.icon-corner
					.mds__title-drop(dropdown-menu-js)
						a(href="menu-design-setting.html#" class="" title="")!= "Base theme"
						a(href="menu-design-setting-1.html" class="" title="")!= "Base settings"
						a(href="menu-design-setting-2.html" class="" title="")!= "Intro screen"
						a(href="menu-design-setting-3.html" class="" title="")!= "Main menu"
						a(href="menu-design-setting-4.html" class="" title="")!= "Menu items"
						a(href="menu-design-setting-5.html" class="" title="")!= "Item details"
						a(href="menu-design-setting-6.html" class="" title="")!= "Feedback"
						a(href="menu-design-setting-8.html" class="" title="")!= "Log Out"

				a.mds__wrapper-preview(href="#" class="" title="")
					p
						i.icon-font.icon-eye
					span!= "preview"

			form.c-form(action="" autocomplete='off')

				.mds__screen.mds__screen--nc.mds__screen--wbbs
					p.mds__screen-title!= "Background image"
					.mds__screen-row
						.mds__screen-col.mds__screen-col-0
							p.mds__screen-desc!= "Image dimensions: 768x1024<br>Supported Formats: JPG, PNG"
						.mds__screen-col.mds__screen-col-1
							a(href="#" title='').mds__screen-upload!= "Upload images"

				p.mds__subtitle.mds__subtitle--mdsOrderPt!= "Label colors"

				each val, idx in colorTitleArr
					.mds__form-content.mds__form-content--mdsOrderPt
						each _v, _i in colorTitleArr[idx]
							.mds__form-color
								div
									p!= colorTitleArr[idx][_i].title
								div
									.mds__form-color-content(data-color!= colorTitleArr[idx][_i].color, data-name!= colorTitleArr[idx][_i].name)
										a(href="#" class="" title="")
										input(type="text" readonly disabled value!= colorTitleArr[idx][_i].color)
										span(style="background-color:" + colorTitleArr[idx][_i].color)

				+formBtn('', 'c-btn c-btn--bg', 'Update settings')

		.mds__wrapper-right

			.mds__wrapper-header
				div
					i.icon-font.icon-eye
					p!= "Midnight Theme"
				div
					a.mds__wrapper-close(href="#" class="" title="")
						i.icon-font.icon-close

			include ../tablet/_tablet-my-order

// SECTION mds :: END
