// SECTION mds :: START

-
	var colorTitleArr = [
		[
			{
				title: 'In process',
				color: '#FFFFF'
			},
			{
				title: 'Pending',
				color: '#4979c5'
			},
			{
				title: 'Served',
				color: '#19172f'
			}
		],
	];

section#mds.mds

	.mds__wrapper
		.mds__wrapper-left

			.mds__wrapper-heading
				h2.mds__title.mds__title--internal
					span!= "My order"
					i.icon-font.icon-corner
				a.mds__wrapper-preview(href="#" class="" title="")
					p
						i.icon-font.icon-eye
					span!= "preview"

			form.c-form(action="" autocomplete='off')

				.mds__upload
					p.mds__upload-title!= "Background image"
					.mds__upload-row
						div
							p!= "darktheme_logout.png"
							a(href="" class="" title="")
								i.icon-font.icon-bin

				p.mds__subtitle.mds__subtitle--mdsOrderPt!= "Label colors"

				each val, idx in colorTitleArr
					.mds__form-content.mds__form-content--mdsOrderPt
						each _v, _i in colorTitleArr[idx]
							.mds__form-color
								div
									p!= colorTitleArr[idx][_i].title
								div
									.mds__form-color-content
										a(href="#" class="" title="")
										input(type="text" readonly disabled value!= colorTitleArr[idx][_i].color)
										span(style="background-color:" + colorTitleArr[idx][_i].color)

				+formBtn('', 'c-btn c-btn--bg', 'Update settings')

		.mds__wrapper-right

			.mds__wrapper-header
				div
					i.icon-font.icon-eye
					p!= "Midnight Theme"
				div
					a.mds__wrapper-close(href="#" class="" title="")
						i.icon-font.icon-close

			include ../tablet/_tablet-my-order

// SECTION mds :: END
