// SECTION mds :: START

section#mds.mds

	.mds__wrapper
		.mds__wrapper-left

			.mds__wrapper-preview
				a(href="#" class="" title="")
					i.icon-font.icon-eye

				include ../tablet/_tablet-intro

			.mds__wrapper-heading

				.mds__title-wrapper(dropdown-js)
					.mds__title.mds__title--internal(dropdown-btn-js)
						span!= "Intro screen"
						i.icon-font.icon-corner
					.mds__title-drop(dropdown-menu-js)
						a(href="menu-design-setting.html" class="" title="")!= "Base theme"
						a(href="menu-design-setting-1.html" class="" title="")!= "Base settings"
						a(href="menu-design-setting-3.html" class="" title="")!= "Main menu"
						a(href="menu-design-setting-4.html" class="" title="")!= "Menu items"
						a(href="menu-design-setting-5.html" class="" title="")!= "Item details"
						a(href="menu-design-setting-6.html" class="" title="")!= "Feedback"
						a(href="menu-design-setting-7.html" class="" title="")!= "My order"
						a(href="menu-design-setting-8.html" class="" title="")!= "Log Out"

				.mds__title-select
					.c-form
						.c-form__field.c-form__field--select

							.c-form__select-wrapper
								.c-form__select-value

								select.c-form__select(
									id!= ''
									name!= 'select_currency'
									select-js
									select-tp-page-js
								)
									option(value!= '' selected="")!= 'Intro screen'
									option(value="menu-design-setting.html")!= "Base theme"
									option(value="menu-design-setting-1.html")!= "Base settings"
									option(value="menu-design-setting-3.html")!= "Main menu"
									option(value="menu-design-setting-4.html")!= "Menu items"
									option(value="menu-design-setting-5.html")!= "Item details"
									option(value="menu-design-setting-6.html")!= "Feedback"
									option(value="menu-design-setting-7.html")!= "My order"
									option(value="menu-design-setting-8.html")!= "Log Out"

								.c-form__select-icon
									i

			form.c-form(action="" autocomplete='off' name='intro_screen')

				.mds__screen-wrapper

					// STATIC IMAGE BACKGROUND
					// =========================
					.mds__screen(choose-screen-btn-js data-name='bg' upload-file-js)
						p.mds__screen-title!= "Static image"
						.mds__screen-row(upload-mainPallet-js)
							.mds__screen-col.mds__screen-col-0
								p.mds__screen-desc!= "Image dimensions: 768x1024<br>Supported Formats: JPG, JPEG"
							.mds__screen-col.mds__screen-col-1
								.mds__upload-bg(change-imageParent-js)
									div(change-img-js)
										span!= "Upload image"
										input(type='file' accept=".jpg, .jpeg" name='upload_static' data-opt='static')

						.mds__upload.mds__upload--hi
							.mds__upload-wrapper.mds__upload-wrapper--double.mds__upload-wrapper--additional(upload-additional-js)
								div
									.mds__upload-left
										.mds__upload-preview(upload-preview-js)
											p!= "image<br>preview"

									.mds__upload-right

										.mds__upload-option

											.mds__upload-radio
												div
													label
														input(type='radio' name='upload_image_size' checked upload-imgFixed-js)
														span!= "Fixed position"
												div
													label
														input(type='radio' name='upload_image_size' upload-imgRepeat-js)
														span!= "Repeat / Tile image"

											a.mds__upload-remove(href="#" class="" title="" upload-remove-js)
												i.icon-font.icon-bin
												span!= "Remove image"

					// SLIDESHOW
					// =========================
					.mds__screen(choose-screen-btn-js data-name='slideshow')
						p.mds__screen-title!= "Slideshow"
						.mds__screen-row
							.mds__screen-col.mds__screen-col-0
								p.mds__screen-desc!= "Image dimensions: 768x1024<br>Supported Formats: JPG, JPEG<br>5 images maximum"
							.mds__screen-col.mds__screen-col-1
								.mds__upload-bg(upload-slideshow-js)
									div
										span!= "Upload images"
						.mds__screen-row.mds__screen-row--info
							h2!= "You are trying to upload more than 6 files!"

					.mds__screen.mds__screen--slideshow(data-name='slideshowPreview')
						p.mds__screen-title!= "Slideshow images"
						.mds__screen-row
							.mds__screen-preview(upload-smallPreview-js)
								div
									.mds__screen-preview-card(data-id="0" upload-smallPreviewAdd-js)
										a.mds__screen-preview-card-clear(href='#', title='' upload-smallPreviewClear-js)
											i.icon-font.icon-bin
										.mds__screen-preview-card-add
											span!= "+"
										input(type='file' accept=".jpg, .jpeg" name="slideshow_")
								div
									.mds__screen-preview-card(data-id="1" upload-smallPreviewAdd-js)
										a.mds__screen-preview-card-clear(href='#', title='' upload-smallPreviewClear-js)
											i.icon-font.icon-bin
										.mds__screen-preview-card-add
											span!= "+"
										input(type='file' accept=".jpg, .jpeg" name="slideshow_")
								div
									.mds__screen-preview-card(data-id="2" upload-smallPreviewAdd-js)
										a.mds__screen-preview-card-clear(href='#', title='' upload-smallPreviewClear-js)
											i.icon-font.icon-bin
										.mds__screen-preview-card-add
											span!= "+"
										input(type='file' accept=".jpg, .jpeg" name="slideshow_")
								div
									.mds__screen-preview-card(data-id="3" upload-smallPreviewAdd-js)
										a.mds__screen-preview-card-clear(href='#', title='' upload-smallPreviewClear-js)
											i.icon-font.icon-bin
										.mds__screen-preview-card-add
											span!= "+"
										input(type='file' accept=".jpg, .jpeg" name="slideshow_")
								div
									.mds__screen-preview-card(data-id="4" upload-smallPreviewAdd-js)
										a.mds__screen-preview-card-clear(href='#', title='' upload-smallPreviewClear-js)
											i.icon-font.icon-bin
										.mds__screen-preview-card-add
											span!= "+"
										input(type='file' accept=".jpg, .jpeg" name="slideshow_")
								div
									.mds__screen-preview-card(data-id="5" upload-smallPreviewAdd-js)
										a.mds__screen-preview-card-clear(href='#', title='' upload-smallPreviewClear-js)
											i.icon-font.icon-bin
										.mds__screen-preview-card-add
											span!= "+"
										input(type='file' accept=".jpg, .jpeg" name="slideshow_")

					// BACKGROUND VIDEO
					// =========================
					.mds__screen(choose-screen-btn-js data-name='video')
						p.mds__screen-title!= "Video Intro"
						.mds__screen-row
							.mds__screen-col.mds__screen-col-0
								p.mds__screen-desc!= "Video dimensions: 768x1024<br>Supported Formats: OGG, MP4, WEBM<br>Max file weight: 50 Mb"
							.mds__screen-col.mds__screen-col-1
								.mds__screen-upload(upload-video-js)!= "Upload video"
									input(type='file' accept=".webm, .ogg, .mp4" name='upload_video')
						.mds__upload-row-wrapper(upload-previewFiles-js upload-preview-video-js)

					// LOGO
					// =========================
					.mds__screen(choose-screen-btn-js data-name='bg' upload-file-js)
						p.mds__screen-title!= "Logo overlay"
						.mds__screen-row(upload-mainPallet-js)
							.mds__screen-col.mds__screen-col-0
								p.mds__screen-desc!= "Image dimensions: 768x1024<br>Supported Formats: JPG, JPEG, PNG"
							.mds__screen-col.mds__screen-col-1
								.mds__upload-bg(change-imageParent-js)
									div(change-img-js)
										span!= "Upload image"
										input(type='file' accept=".jpg, .jpeg, .png" name='upload_logo' data-opt='logo')

						.mds__upload.mds__upload--hi
							.mds__upload-wrapper.mds__upload-wrapper--double.mds__upload-wrapper--additional(upload-additional-js)
								div
									.mds__upload-left
										.mds__upload-preview(upload-preview-js)
											p!= "image<br>preview"

									.mds__upload-right

										.mds__upload-option
											a.mds__upload-remove(href="#" class="" title="" upload-remove-js)
												i.icon-font.icon-bin
												span!= "Remove image"

				+formBtn('', 'c-btn c-btn--bg', 'Update settings')

		.mds__wrapper-right

			.mds__wrapper-header
				div
					i.icon-font.icon-eye
					p!= "Midnight Theme"
				div
					a.mds__wrapper-close(href="#" class="" title="")
						i.icon-font.icon-close

			include ../tablet/_tablet-intro

// SECTION mds :: END
