// SECTION mds :: START

-
	var themeArr = [
		'Midnight',
		'Big Sur',
		'Amsterdam',
	];
	var themeImgArr = [
		'img-mds-theme-midnight',
		'img-mds-theme-bigsur',
		'img-mds-theme-amsterdam',
	];

section#mds.mds

	.mds__wrapper-heading

		.mds__title-wrapper(dropdown-js)
			.mds__title.mds__title--internal(dropdown-btn-js)
				span!= "Base theme"
				i.icon-font.icon-corner
			.mds__title-drop(dropdown-menu-js)
				a(href="menu-design-setting-1.html" class="" title="")!= "Base settings"
				a(href="menu-design-setting-2.html" class="" title="")!= "Intro screen"
				a(href="menu-design-setting-3.html" class="" title="")!= "Main menu"
				a(href="menu-design-setting-4.html" class="" title="")!= "Menu items"
				a(href="menu-design-setting-5.html" class="" title="")!= "Item details"
				a(href="menu-design-setting-6.html" class="" title="")!= "Feedback"
				a(href="menu-design-setting-7.html" class="" title="")!= "My order"
				a(href="menu-design-setting-8.html" class="" title="")!= "Log Out"

		.mds__title-select
			.c-form
				.c-form__field.c-form__field--select

					.c-form__select-wrapper
						.c-form__select-value

						select.c-form__select(
							id!= ''
							name!= 'select_currency'
							select-js
							select-tp-page-js
						)
							option(value!= '' selected="")!= 'Base theme'
							option(value="menu-design-setting-1.html")!= "Base settings"
							option(value="menu-design-setting-2.html")!= "Intro screen"
							option(value="menu-design-setting-3.html")!= "Main menu"
							option(value="menu-design-setting-4.html")!= "Menu items"
							option(value="menu-design-setting-5.html")!= "Item details"
							option(value="menu-design-setting-6.html")!= "Feedback"
							option(value="menu-design-setting-7.html")!= "My order"
							option(value="menu-design-setting-8.html")!= "Log Out"

						.c-form__select-icon
							i

	.mds__theme-wrapper
		each val, idx in themeArr
			a.mds__theme(class!= 'mds__theme-' + idx href="#" title="")
				.mds__theme-top
					img(src="img/" + themeImgArr[idx] + ".jpg" srcset="img/" + themeImgArr[idx] + "@2x.jpg 2x" alt="" title="")

					.mds__theme-ind
						span
						span
						span
						span
						span
						span

					.mds__theme-btn
						button(type='button')
							span!= "Use selected theme"
							i.icon-font.icon-arrow

						button(type='button')
							span!= "Customize"
							i.icon-font.icon-arrow

				.mds__theme-bottom
					p!= val

// SECTION mds :: E	ND
