// SECTION mds :: START

section#mds.mds

	.mds__wrapper
		.mds__wrapper-left

			.mds__wrapper-heading

				.mds__title-wrapper(dropdown-js)
					.mds__title.mds__title--internal(dropdown-btn-js)
						span!= "Log Out"
						i.icon-font.icon-corner
					.mds__title-drop(dropdown-menu-js)
						a(href="#" class="" title="")!= "Base theme"
						a(href="#" class="" title="")!= "Base settings"
						a(href="#" class="" title="")!= "Intro screen"
						a(href="#" class="" title="")!= "Main menu"
						a(href="#" class="" title="")!= "Menu items"
						a(href="#" class="" title="")!= "Item details"
						a(href="#" class="" title="")!= "Feedback"
						a(href="#" class="" title="")!= "My order"

				a.mds__wrapper-preview(href="#" class="" title="")
					p
						i.icon-font.icon-eye
					span!= "preview"

			form.c-form(action="" autocomplete='off')

				.mds__change
					p.mds__screen-title!= "Background"
					.mds__change-wrapper
						.mds__change-left
							p.mds__change-title!= "Color"
							.mds__change-color(change-color-js data-color="#131323")
								a(href="#" class="" title="")

						.mds__change-right
							p.mds__change-title!= "Background image"
							.mds__change-bg
								.mds__change-upload(upload-image-js)
									!= "Upload image"
									input(type='file' accept=".jpg, .jpeg, .png" name='upload_image')

								.mds__upload-row-wrapper(upload-previewFiles-js)

				+formBtn('', 'c-btn c-btn--bg', 'Update settings')

		.mds__wrapper-right

			.mds__wrapper-header
				div
					i.icon-font.icon-eye
					p!= "Midnight Theme"
				div
					a.mds__wrapper-close(href="#" class="" title="")
						i.icon-font.icon-close

			include ../tablet/_tablet-logout

// SECTION mds :: END
