// SECTION mds :: START

-
	var colorTitleArr = [
		[
			{
				title: 'Header',
				color: '#FFFFFF'
			},
			{
				title: 'Subheader',
				color: '#4979c5'
			},
			{
				title: 'Body',
				color: '#19172f'
			}
		],
		[
			{
				title: 'Navigation bar',
				color: '#171732'
			},
			{
				title: 'Borders',
				color: '#24265f'
			},
			{
				title: 'Select / Highlight',
				color: '#32348e'
			}
		],
		[
			{
				title: 'Go back',
				color: '#303030'
			},
			{
				title: 'UI Neutral',
				color: '#191d2a'
			},
			{
				title: 'Alert',
				color: '#32348e'
			}
		]
	];

section#mds.mds

	.mds__wrapper
		.mds__wrapper-left

			.mds__wrapper-heading

				.mds__title-wrapper(dropdown-js)
					.mds__title.mds__title--internal(dropdown-btn-js)
						span!= "Base settings"
						i.icon-font.icon-corner
					.mds__title-drop(dropdown-menu-js)
						a(href="#" class="" title="")!= "Base theme"
						a(href="#" class="" title="")!= "Intro screen"
						a(href="#" class="" title="")!= "Main menu"
						a(href="#" class="" title="")!= "Menu items"
						a(href="#" class="" title="")!= "Item details"
						a(href="#" class="" title="")!= "Feedback"
						a(href="#" class="" title="")!= "My order"
						a(href="#" class="" title="")!= "Log Out"

				a.mds__wrapper-preview(href="#" class="" title="")
					p
						i.icon-font.icon-eye
					span!= "preview"

			form.c-form(action="" autocomplete='off')

				p.mds__subtitle!= "Font set"

				.mds__form-content
					+formSelectCustom(dataFormObj.selectFieldCustomFont)

				p.mds__subtitle!= "Base color palette"

				each val, idx in colorTitleArr
					.mds__form-content
						each _v, _i in colorTitleArr[idx]
							.mds__form-color
								div
									p!= colorTitleArr[idx][_i].title
								div
									.mds__form-color-content
										a(href="#" class="" title="")
										input(type="text" readonly disabled value!= colorTitleArr[idx][_i].color)
										span(style="background-color:" + colorTitleArr[idx][_i].color)

				p.mds__subtitle!= "Currency and Price format"

				.mds__form-content.mds__form-content--last
					.c-form__group.c-form__group--two
						.c-form__group-col.c-form__group-col-0
							+formSelectCustom(dataFormObj.selectFieldCustomCurrency)
						.c-form__group-col.c-form__group-col-1
							+formSelectCustom(dataFormObj.selectFieldCustomPriceFormat)


				+formBtn('', 'c-btn c-btn--bg', 'Update settings')

		.mds__wrapper-right

			.mds__wrapper-header
				div
					i.icon-font.icon-eye
					p!= "Midnight Theme"
				div
					a.mds__wrapper-close(href="#" class="" title="")
						i.icon-font.icon-close

			include ../tablet/_tablet-menu-items


// SECTION mds :: END
