// SECTION company :: START

section#company.company.team
	.c-grid
		.company__wrapper

			h2.team__title New team member

			form(action='' method='' autocomplete='off')

				.company__row.company__row-1

					.company__header
						div
							p.company__title General information
						div

					.company__form.company__form-1
						div
							.c-form__field.c-form__field--input
								label.c-form__label(for!= 'input_test-1')!= 'Label Title'
								.c-form__input-wrapper
									input.c-form__input(type!= 'text' id!= 'input_test-1' name!= 'input_test-1' input-js)
								.c-form__notify
						div
							.c-form__field.c-form__field--input
								label.c-form__label(for!= 'input_test-2')!= 'Label Title'
								.c-form__input-wrapper
									input.c-form__input(type!= 'text' id!= 'input_test-2' name!= 'input_test-2' input-js)
								.c-form__notify
						div
							.c-form__field.c-form__field--select
								.c-form__select-wrapper
									.c-form__select-value
									select.c-form__select(select-js)
										option(value!= 'Some option')!= 'Some option'
										option(value!= 'Some action')!= 'Some action'
									.c-form__select-icon
										i
								.c-form__notify

				.company__row.company__row-2

					.company__header
						div
							p.company__title Contacts
						div

					.company__form.company__form-2
						div
							.c-form__field.c-form__field--input
								label.c-form__label(for!= 'input_test-4')!= 'Label Title'
								.c-form__input-wrapper
									input.c-form__input(type!= 'text' id!= 'input_test-4' name!= 'input_test-4' input-js)
								.c-form__notify
						div
							.c-form__field.c-form__field--input
								label.c-form__label(for!= 'input_test-5')!= 'Label Title'
								.c-form__input-wrapper
									input.c-form__input(type!= 'text' id!= 'input_test-5' name!= 'input_test-5' input-js)
								.c-form__notify

				.company__row.company__row-3

					.company__header
						div
							p.company__title Address
						div

					.company__form.company__form-3
						div
							.c-form__field.c-form__field--input
								label.c-form__label(for!= 'input_test-6')!= 'Label Title'
								.c-form__input-wrapper
									input.c-form__input(type!= 'text' id!= 'input_test-6' name!= 'input_test-6' input-js)
								.c-form__notify
						div
							.c-form__field.c-form__field--input
								label.c-form__label(for!= 'input_test-7')!= 'Label Title'
								.c-form__input-wrapper
									input.c-form__input(type!= 'text' id!= 'input_test-7' name!= 'input_test-7' input-js)
								.c-form__notify
						div
							.c-form__field.c-form__field--input
								label.c-form__label(for!= 'input_test-8')!= 'Label Title'
								.c-form__input-wrapper
									input.c-form__input(type!= 'text' id!= 'input_test-8' name!= 'input_test-8' input-js)
								.c-form__notify
						div
							.c-form__field.c-form__field--input
								label.c-form__label(for!= 'input_test-9')!= 'Label Title'
								.c-form__input-wrapper
									input.c-form__input(type!= 'text' id!= 'input_test-9' name!= 'input_test-9' input-js)
								.c-form__notify
						div
							.c-form__field.c-form__field--input
								label.c-form__label(for!= 'input_test-10')!= 'Label Title'
								.c-form__input-wrapper
									input.c-form__input(type!= 'text' id!= 'input_test-10' name!= 'input_test-10' input-js)
								.c-form__notify

				.company__row.company__row-4

					.company__form.company__form-4

						button(type="submit") Save

// SECTION company :: END
